@model List<TranslatorViewModel>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <table class="table table-bordered table-responsive text-center table-striped" dir="rtl">
        <thead>
            <tr>
                @*<td>ID</td>*@
                <td>شناسه قلم داده</td>
                <td>پارسی </td>
                <td>گونه</td>
                <td>زبان برگردان</td>
                <td>برگردان</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@*@item.Id*@</td>
                    <td>@item.PhraseId</td>
                    <td>@item.PhraseText</td>
                    <td>@item.PhraseTypeName</td>
                    <td>@item.LanguageAbbr</td>
                    @*<td>@item.Translation</td>*@
                    <td>
                        <div class="form-group">
                            <form method="post" action="translations/SaveTranslate">
                                <input class="form-control" name="value" type="text" value="@item.Translation" />
                                <input name="lang" type="hidden" value="@item.LanguageAbbr" />
                                <input name="phraseId" type="hidden" value="@item.PhraseId" />
                                <input name="phraseType" type="hidden" value="@item.PhraseTypeName" />
                                <button class="btn btn-success" type="submit"><i class="glyphicon glyphicon-floppy-disk"></i></button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@section Footer{
    <p>&copy; 2018 - Translation App</p>
}
@section Header{
    <h1 style="background-color:#ff0000">سر تیتر</h1>
}
@*<style>
    .td1 {
        width: 100px;
        border: 1px solid #0094ff;
        text-align: center
    }

    table {
        margin-top: 20px;
    }
</style>*@